[[source]]
name = "pypi"
url = "https://pypi.org/simple"
#url = ""https://pypi.tuna.tsinghua.edu.cn/simple""
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.28"
pymysql = "==0.9.3"
djangorestframework = "*"
pygments = "*"
django-rest-swagger = "*"
django-bootstrap3 = "*"

[requires]
python_version = "3.7"
